body, html, ul, li, p {
    margin: 0;
    padding: 0
}

body, html {
    font-size: 12px;
    font-family: 'HanHei SC', 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif
}

html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

a {
    text-decoration: none;
}

a:hover {
    color: #333
}

* {
    box-sizing: border-box
}

.hljs {
    display: block;
    overflow-x: auto;
    padding: .5em;
    color: #333;
    background: #f8f8f8
}

.hljs-quote {
    font-style: italic
}

.hljs-comment, .hljs-quote {
    color: #998
}

.hljs-keyword, .hljs-selector-tag, .hljs-subst {
    color: #333;
    font-weight: bold
}

.hljs-number, .hljs-literal, .hljs-variable, .hljs-template-variable, .hljs-tag .hljs-attr {
    color: #008080
}

.hljs-string, .hljs-doctag {
    color: #d14
}

.hljs-title, .hljs-section, .hljs-selector-id {
    color: #900;
    font-weight: bold
}

.hljs-subst {
    font-weight: normal
}

.hljs-type, .hljs-class .hljs-title {
    color: #458;
    font-weight: bold
}

.hljs-tag, .hljs-name, .hljs-attribute {
    color: #000080;
    font-weight: normal
}

.hljs-regexp, .hljs-link {
    color: #009926
}

.hljs-symbol, .hljs-bullet {
    color: #990073
}

.hljs-built_in, .hljs-builtin-name {
    color: #0086b3
}

.hljs-meta {
    color: #999;
    font-weight: bold
}

.hljs-deletion {
    background: #fdd
}

.hljs-addition {
    background: #dfd
}

.hljs-emphasis {
    font-style: italic
}

.hljs-strong {
    font-weight: bold
}

div.markdown-body {
    padding: 70px 35px 30px 35px;
    word-wrap: break-word;
    font-family: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace;
    font-size: 14px;
    line-height: 1.6;
    color: #333;
}

div.markdown-body .edit_btn {
    position: relative;
    right: 0;
    float: right;
    top: 48px;
    z-index: 2;
}

div.markdown-body .edit_btn .split {
    display: inline-block;
    height: 13px;
    vertical-align: middle;
    width: 1px;
    border-left: 1px solid #dfdfdf;
    margin: -1px 0 0 0
}

div.markdown-body .edit_btn a {
    text-decoration: none;
    background: #2196f3;
    color: #fff;
    border-radius: 3px;
    padding: 2px 5px;
}

div.markdown-body .edit_btn a:hover {
    color: #333;
    background: #e6e6e6
}

@media mq-mobile {
    div.markdown-body {
        padding-right: 0
    }
}

div.markdown-body > *:first-child {
    margin-top: 0 !important
}

div.markdown-body strong {
    font-weight: bold
}

div.markdown-body hr {
    border-top: 1px solid #cacaca;
    border-width: 1px 0 0 0
}

div.markdown-body em {
    font-style: italic
}

div.markdown-body img {
    max-width: 100%
}

div.markdown-body h1, div.markdown-body h2, div.markdown-body h3, div.markdown-body h4, div.markdown-body h5, div.markdown-body h6 {
    position: relative;
    margin-top: 1em;
    margin-bottom: 16px;
    font-weight: bold;
    line-height: 1.4;
}

div.markdown-body h1 a, div.markdown-body h2 a, div.markdown-body h3 a, div.markdown-body h4 a, div.markdown-body h5 a, div.markdown-body h6 a {
    display: none
}

div.markdown-body h1:hover a, div.markdown-body h2:hover a, div.markdown-body h3:hover a, div.markdown-body h4:hover a, div.markdown-body h5:hover a, div.markdown-body h6:hover a {
    display: inline;
    color: #000;
    font-size: 85%
}

div.markdown-body h1, div.markdown-body h2 {
    border-bottom: 1px solid #eee
}

div.markdown-body h1 {
    font-size: 2.25em;
    line-height: 1.2;
    padding-bottom: .3em
}

div.markdown-body h2 {
    padding-bottom: .3em;
    font-size: 1.5em;
    line-height: 1.225
}

div.markdown-body blockquote {
    padding: 0 15px;
    color: #777;
    border-left: 4px solid #ddd;
    margin: 0;
}

div.markdown-body blockquote > :last-child {
    margin-bottom: 0
}

div.markdown-body blockquote > :first-child {
    margin-top: 0
}

div.markdown-body p, div.markdown-body blockquote, div.markdown-body ul, div.markdown-body ol, div.markdown-body dl, div.markdown-body table, div.markdown-body pre {
    margin-top: 0;
    margin-bottom: 16px
}

div.markdown-body ul, div.markdown-body ol {
    padding-left: 1.4em;
    list-style: initial
}

div.markdown-body ol {
    list-style-type: decimal
}

div.markdown-body ol ol, div.markdown-body ul ol {
    list-style-type: lower-roman
}

div.markdown-body ul ul ol, div.markdown-body ul ol ol, div.markdown-body ol ul ol, div.markdown-body ol ol ol {
    list-style-type: lower-alpha
}

div.markdown-body pre {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    line-height: 1.3;
    word-break: break-all;
    word-wrap: break-word;
    color: #333;
    border: none;
    position: relative;
    background-color: #f7f7f9;
    border-radius: 3px;
    font: "Source Code Pro", Consolas, Menlo, Monaco, "Courier New", monospace;
    font-size: .93em;
    -webkit-overflow-scrolling: touch;
}

div.markdown-body pre code {
    padding: .7em;
    overflow: auto;
    max-height: 35em;
    background-color: transparent;
    color: inherit;
    line-height: 1.4;
    display: block;
    font-size: .93em;
    box-sizing: border-box;
    border-radius: 0;
    white-space: inherit;
    overflow-wrap: normal;
    word-wrap: normal !important;
    font: 12px "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace
}

div.markdown-body code, div.markdown-body tt {
    padding: 0;
    padding-bottom: 2px;
    margin: 0 3px;
    vertical-align: top;
    background-color: #ededf7;
    border-radius: 4px;
    padding-left: 3px;
    padding-right: 3px;
    font-size: 14px;
    color: #6f5990;
    padding-top: 2px
}

div.markdown-body table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 100%;
    display: block;
    background-color: transparent;
}

div.markdown-body table th, div.markdown-body table td {
    border: 1px solid #ddd;
    padding: 4px 10px
}

div.markdown-body table th {
    font-weight: bold;
    background: #f3f3f3
}

div.markdown-body table tr:nth-child(2n) {
    background-color: #f8f8f8
}

div.markdown-body table tbody {
    background: #fff
}

.markdown-body .task-list-item {
    padding: 0;
}

.markdown-body .task-list-item li {
    list-style-type: none
}

a.github-corner {
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
}

a.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}

a.github-corner svg {
    fill: #f1f1f1;
    color: #000;
    position: absolute;
    top: 0;
    border: 0;
    right: 0;
    z-index: 99;
    width: 70px;
    height: 70px
}

a {
    transition: all .2s ease-in
}

.header {
    width: 517px;
    margin: 0 auto 0;
    padding: 0 10px;
}

.header .logo {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px
}

.header .box {
    position: relative
}

.header .search {
    min-height: 20px;
    position: relative;
    display: table;
    border-collapse: separate;
}

.header .search li, .header .search ul {
    list-style: none
}

.header .search #result .ok {
    background: #f4f4f4
}

.header .search .search-list {
    position: absolute;
    display: none;
    z-index: 999;
    box-shadow: 1px 1px 3px #ededed;
    border: 1px solid #d5d5d5;
    background: #fff;
    min-width: 100px;
    top: 39px;
    width: 100%;
    padding: 5px;
    border-radius: 5px 5px 5px 5px;
}

.header .search .search-list li {
    line-height: 23px;
}

.header .search .search-list li span {
    padding: 0 8px;
    color: #b9b9b9
}

.header .search .search-list a {
    display: block;
    padding: 2px 6px 2px 6px;
    color: #555;
}

.header .search .search-list a:hover {
    background-color: #f2f2f2
}

.header .search .search-list a .kw {
    color: #f00;
    font-style: inherit;
    font-weight: bold
}

.header .search .query, .header .search .enter-input {
    display: table-cell;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.header .search .query {
    resize: none;
    position: relative;
    z-index: 2;
    width: 100%;
    height: 40px;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d5d5d5;
    border-radius: 5px 0 0 5px;
    -webkit-appearance: none;
}

.header .search .query:focus {
    z-index: 99;
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6)
}

.header .search .enter-input {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}

.header .search .enter-input button {
    margin: 0;
    left: -1px;
    position: relative;
    z-index: 5;
    display: inline-block;
    padding: 9px 23px;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.42857143;
    text-align: center;
    text-rendering: auto;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    background-color: #fff;
    border: 1px solid transparent;
    border-collapse: separate;
    border-radius: 0 5px 5px 0;
    border-color: #d5d5d5;
    color: #333;
}

.header .search .enter-input button:focus, .header .search .enter-input button:active:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

.header .search .enter-input button:active {
    color: #333;
    background-color: #e6e6e6;
    border-color: #b4b4b4;
    background-image: none;
    box-shadow: inset 0 8px 32px -8px rgba(0, 0, 0, 0.3)
}

.header .search .enter-input button:focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #999;
    text-decoration: none
}

.header .search .enter-input button:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #b4b4b4
}

.header .footer {
    text-align: center;
    padding-top: 31px;
    color: #616161;
    font-size: 14px;
    font-weight: 300
}

.header.header_list {
    position: fixed;
    width: 100%;
    background: #fff;
    z-index: 99
}

.header_list {
    padding: 10px 10px 10px 13px;
    border-bottom: 1px solid #eee;
}

.header_list .logo {
    float: left;
    padding-top: 3px;
    padding-bottom: 0;
    padding-right: 24px;
    text-align: left;
}

.header_list .logo svg {
    height: 37px;
    width: 136px
}

.header_list .search {
    max-width: 517px
}

.header_list .footer {
    display: none
}

.search_list {
    width: 100%;
    margin: auto;
    padding: 5px 27px;
}

.search_list a {
    font-size: 16px;
}

.search_list a strong {
    font-weight: bold
}

.search_list a .kw {
    color: #f00;
    font-style: inherit;
    font-weight: bold
}

.search_list a:hover .kw {
    color: #333
}

.search_list li {
    padding: 10px 0 10px 0;
    list-style-type: none;
}

.search_list li p {
    padding-top: 5px;
    color: #4f4f4f
}

.hotlist {
    padding: 79px 27px;
}

.hotlist a {
    font-size: 16px;
}

.hotlist a strong {
    font-weight: bold
}

.hotlist li {
    padding: 5px 0 5px 0;
    list-style-type: none;
}

.hotlist li p {
    padding-top: 5px;
    color: #4f4f4f
}

@media screen and (max-width: 479px) {
    .header {
        width: inherit;
    }

    .header .search .enter-input button {
        padding: 9px 14px
    }

    .hotlist {
        padding: 120px 27px;
    }

    .header_list .logo svg {
        width: 96px
    }

    .header_list .search .query {
        line-height: 31px
    }

    .header_list .logo {
        float: inherit;
        padding-right: 10px;
        padding-top: 8px;
        padding-bottom: 14px;
        text-align: center
    }

    div.markdown-body {
        padding: 140px 10px 10px 13px
    }

    div.markdown-body .edit_btn + * {
        margin-top: 0 !important
    }

    div.markdown-body .edit_btn {
        top: 9px;
    }

    div.markdown-body .edit_btn a {
        background: #f1f1f1;
        color: #a3a3a3
    }
}

@-moz-keyframes octocat-wave {
    0%, 100% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    20%, 60% {
        -webkit-transform: rotate(-25deg);
        transform: rotate(-25deg)
    }
    40%, 80% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg)
    }
}

@-webkit-keyframes octocat-wave {
    0%, 100% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    20%, 60% {
        -webkit-transform: rotate(-25deg);
        transform: rotate(-25deg)
    }
    40%, 80% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg)
    }
}

@-o-keyframes octocat-wave {
    0%, 100% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    20%, 60% {
        -webkit-transform: rotate(-25deg);
        transform: rotate(-25deg)
    }
    40%, 80% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg)
    }
}

@keyframes octocat-wave {
    0%, 100% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    20%, 60% {
        -webkit-transform: rotate(-25deg);
        transform: rotate(-25deg)
    }
    40%, 80% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg)
    }
}